<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article) %><br>
      <%= article.author %> |
      <%= article.content %> |
      <% if current_user %>
        <%= link_to article_path(article), data: {confirm: "Are you sure?", method: "delete"} do %>
          <span class="glyphicon glyphicon-trash"></span> Delete
        <% end %>
        <%= link_to edit_article_path(article) do %>
          <span class="glyphicon glyphicon-edit"></span> Edit
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create a New Article', new_article_path, class: "btn btn-primary" if current_user%>
