<p><%= @article.title %></p>
<p><%= @article.author %></p>
<p><%= @article.content %></p>

<% @article.comments.each do |comment| %>
  <li>
    <%= link_to comment.content, article_comment_path(@article, comment) %><br>
    <%= comment.user %>
    <% if current_user %>
      <%= link_to 'Delete', article_comment_path(@article, comment), data: {confirm: "Are you sure?", method: "delete"} %> |
      <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
      <%= link_to 'Reply to this Post', new_comment_path(:parent_id => comment) %> <!-- TODO: Figure out Nested Routing -->
    <% end %>
  </li>
<% end %>

<%= link_to 'New Comment', new_article_comment_path(@article), class: "btn btn-primary" if current_user %>
