<div class="col-sm-12">
  <h1 class="title"><%= @article.title %></h1>
  <p class="author"><%= @article.author %></p>
  <p class="content"><%= @article.content %></p>
  <p class="metadata"><%= @article.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") %></p>


  <div class="comments-header">
    <h4 class="comments-title">Comments</h4>
    <%= link_to 'New Comment', new_article_comment_path(@article), class: "btn btn-primary pull-right new-comment" if current_user %>
  </div>
  <ul class="list-unstyled">
    <% @article.comments.each do |comment| %>
      <li>
        <%= comment.content %><br>
        <%= comment.user %><br>
        <%= comment.created_at.strftime("Created on %m/%d/%Y at %I:%M%p") %>
        <% if current_user %>
          <%= link_to 'Delete', article_comment_path(@article, comment), data: {confirm: "Are you sure?", method: "delete"} %> |
          <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
        <% end %>
      </li>
    <% end %>
  </ul>



</div>
